
.d-block{
  margin-top: -2.5%;    
   background-size: cover;
    width: auto ;
    height: 89vh;
}


.btn1 {
  height: 30px;
  width:90px;
  font-size: 14px;
  text-align: center;
  padding: 3px;
   margin-left: 33px ; 


}

h6{
text-align: center;

}

/* .cardH.btn1{
  text-align: center;
} */
  
.cardH{

 margin-left: 20% ;
 margin-right: 20% ;

}

 .padding{
padding-right: 100px; 
padding-bottom: 100px;
padding-top:100px; 
} 